<footer id="footer" class="footer py-3 pr-3">
  <div class="container-fluid">
    <p><a href="/">D8</a> designed and built by <a href="https://github.com/Leghnider/d8" target="_blank" rel="noopener">Team Fire</a> || 2021 || Created my free logo at <a href="https://my.logomakr.com/">LogoMakr.com</a></p>
  </div>
</footer>
