<nav id="navbar2" class="py-2">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">D8</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/home">My Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/user/{{user._id}}">My Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/user/match/{{user._id}}">My Matches</a>
    </li>
    <li class="nav-item ms-auto">
      <form id="log-out-form" action="/logout" method="post">
        <button class="btn" value="Log Out"> Log Out </button>
      </form>
    </li>
  </ul>
</nav>
