<nav id="homepage-navbar" class="py-2">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">D8</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/home">My Dashboard</a>
    </li>
    <li class="nav-item ms-auto">
      <a class="nav-link" href="http:/register">Sign up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http:/login">Log in</a>
    </li>
  </ul>
</nav>
