<html>
  <head>
    <title>My lil chat client</title>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
  </head>
  <body>

    <div>
      <h3>History</h3>
      {{#each history}}
        <li>{{history.time}} - {{history.body}}</li>
      {{/each}}
      <ul id="conversation-history"></ul>
    </div>

    <input id="chat-send" class="chat-input"/>
    <button id="send-button">Send</button>
    <script>
      function initialize() {
        const socket = io("{{channel}}");
        const sendButton = document.getElementById("send-button")
        const history = document.getElementById("conversation-history")

        sendButton.addEventListener("click", () => {
          const currentText = document.getElementById("chat-send").value

          socket.emit("SEND_MESSAGE", currentText)
        })

        socket.on("RECEIVE_MESSAGE", (msg) => {
          const newChat = document.createElement("li")

          newChat.innerText = msg;

          history.appendChild(newChat);
        })
      }

      window.addEventListener("DOMContentLoaded", initialize)
    </script>
  </body>
</html>