<h1>Your conversation with {{match.username}} </h1>
<div id="future"></div>
<div class="chat-display">
  {{#each this.message_history}}
  <span> {{this.chat.chat_history}} - </span>
  {{this.chat.userprofile}}

  {{/each}}
</div>
<form id="form" id="chat_form" action="/user/{{match._id}}/chat" method="post">
  <input id="chat_input" name="message" type="text">
  <input type="submit" value="Send">
</form>

