{{title}}
<form id="edit-profile-form" action="/user/{{user._id}}/edit" method="post" enctype="multipart/form-data">
 <input type="hidden" name="_method" value="put">

<input class="form-control" type="file" id="profilePic" name="profilePic">

 <label for="bio">Bio: </label>
  <input id="bio" type="text" name="bio" value="" required>
  
  <label for="username">Username: </label>
  <input id="username" type="text" name="username" value="" required>

  <label for="location">location: </label>
  <input type="text" id="location" name="location" required>


  <label for="age">Age: </label>
  <input type="number" id="age" name="age" min="18" max="100" required>
    <input type="submit" value="Edit Bio">
    <div class="backtoprofile">
        <a href="/user/{{user._id}}">Back to Profile</a>
      </div>

</form>