{{#each userProfile}}

{{#each this.matched}}
{{#each this.profileImages}}
    <img src="{{this.url}}" alt="image" class="class img-fluid" width="200" height="200" ;>
 {{/each}}
    {{this.username}}
  <a href="/user/{{this._id}}/chat">Chat</a>  
{{/each}}


{{/each}}


