body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fff;
}

#content {
  min-height: calc(100vh - 40px);
}

#homepage-content section {
  background-color: #fc8aab;
}

#homepage-navbar {
  background-color: #fc8aab;
  font-size: 1.25rem;
  font-weight: bold;
}

#homepage-navbar .nav-link {
  color: #f6ce00;
  text-shadow: 0.5px 0.5px rgb(131, 98, 8);
}

#homepage-navbar .nav-link:hover {
  color: white;
}

#homepage-navbar .btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #f6ce00 !important;
  color: white;
  border: #f6ce00;
}

#navbar2 {
  background-color: #fc8aab;
  font-size: 1.25rem;
  color: #f6ce00;
  text-shadow: 0.5px 0.5px rgb(131, 98, 8);
}

#navbar2 .nav-link {
  color: #f6ce00;
}

#navbar2 .nav-link:hover {
  color: white;
}

#navbar2 .btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #f6ce00 !important;
  color: white;
  border: #f6ce00;
}

#navbar2 #log-out-form .btn {
  font-size: 18px;
  color: #f6ce00;
}

#footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #fc8aab;
  color: white;
  text-align: center;
  font-weight: bold;
}

#footer a {
  color: #f6ce00;
  text-shadow: 0.5px 0.5px rgb(131, 98, 8);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #f6ce00 !important;
  color: white;
  border: #f6ce00;
}

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.card-body a {
  color: #e80d4a;
}

.card {
  border: #dd7e99 0.1px solid;
}

.card-btn {
  background-color: #e80d4a !important;
  border: #e80d4a;
}

#dashboard-page h1 {
  color: #e80d4a;
}

#dashboard-page a {
  color: #e80d4a;
}

#dashboard-page .card-body-bio {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-top: 2px;
  margin-bottom: 5px;
}

.card-img-top-profile {
  width: 100%;
  height: 35vw;
  object-fit: cover;
}

#users-profile-page .btn-a a {
  color: white !important;
}

#user-info {
  padding-top: 110px;
  padding-left: 40px;
  float: left;
}

#like-button {
  margin-top: 110px;
  margin-right: 40px;
  float: right;
}
.card-title-title {
  color: #e80d4a;
}

.form-register {
  width: 100%;
  max-width: 1000px;
  padding: 15px;
  margin: auto;
}

.form-register .form-floating:focus-within {
  z-index: 2;
}

.form-register input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-register input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-register .btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #f6ce00 !important;
  color: white;
  border: #f6ce00;
}

#filter-box{
  border: #dd7e99 0.1px solid;
  border-radius: 5px;
  width: 30%;
}

.filterResults label {
  padding-top: 10px;
  padding-bottom: 10px
}
.backtoprofile a {
  color: #e80d4a;
  text-decoration: none;
}

#accordian p {
  text-align: left;
}

.card button {
  text-decoration: none; 
  color: #e90d4a;
  text-align: left;
}