{{!-- This will have a list of all the profiles --}}
<h1>Your Potential D8s</h1>
<a href="/profiles/{{userId._id}}">Your profile</a>

<ul class="userProfiles">
  {{#each userProfiles}}
    <li>{{this.username}}</li>
  {{/each}}
  
</ul>