<section id="homepage-content">
    {{> navbar}}
    <section class="container-fluid">
        <div class="row py-3">
        </div>
        <div class="row py-5">
            <div class="col-md-6 align-items-centre" style="text-align: center; color: white;">
                <h1 class="display-4">Looking For Love</h1>
                <h1 class="display-4">Find Your Next...</h1>
            </div>
            <div class="col-md-6 image-fluid" style="text-align: center;">
                <img src="images/LogoMakr-5XstTZ.png">
            </div>
        </div>
        <div class="row py-4">
            <div class="col-12" style="text-align: center">
                <p><a class="btn btn-primary btn-lg" href="http:/register" role="button">Register now</a></p>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-12" style="text-align: center; color: white">
                <p class="h5">Already a member? <a href="http:/login" style="color: #f6ce00;" >Log in</a></p>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-md-3" style="text-align: center; color: white">
                <i class="fas fa-filter fa-3x py-3" ></i>
                <p class="h6">Filter your search</p>
            </div>
            <div class="col-md-3" style="text-align: center; color: white">
                <i class="fas fa-people-arrows fa-3x py-3"></i>
                <p class="h6">Match with other members</p>
            </div>
            <div class="col-md-3" style="text-align: center; color: white">
                <i class="far fa-comment-dots fa-3x py-3"></i>
                <p class="h6">Live chat with your match</p>
            </div>
            <div class="col-md-3" style="text-align: center; color: white">
                <i class="far fa-heart fa-3x py-3"></i>
                <p class="h6">Enjoy your date</p>
            </div>
        </div>
        <div class="row py-5">
        </div>
    </section> 
</section>

