{{!-- This is the view where they Register their Profile --}}

<h1>Create you Profile</h1>

{{!-- Forms here to collect information from the user --}}

<form id="register-profile-form" action="/register-profile" method="post" enctype="multipart/form-data">
  <input type='file' name="profileImage" id="profileImage">

  <label for="username">Username: </label>
  <input id="username" type="text" name="username" value="" required>

  <label for="bio">Write a bit about yourself: </label>
  <input id="bio" type="text" name="bio" value="" required>

  <label for="location">Location: </label>
  <input id="location" type="text" name="location" value="" required>

  <label for="age">Age: </label>
  <input id="age" type="text" name="age" value="" required>

  <label for="gender">Gender: </label>
  <input id="gender" type="text" name="gender" value="" required>

  <label for="interested_in">Interested In: </label>
  <input id="interested_in" type="text" name="interested_in" value="" required>

  <input type="submit" value="Create Account">

  {{!-- Need to ability to add a profile picture here leave this till I have most of it working --}}
</form>


{{!-- Submit button will go to the dashboard page --}}