<form id="edit-profile-form" action="" method="post" enctype="multipart/form-data">
<input class="form-control" type="file" id="image" name="image">

 <label for="bio">Bio: </label>
  <input id="bio" type="text" name="bio" value="" required>
  
  <label for="username">Username: </label>
  <input id="username" type="text" name="username" value="" required>

  <label for="location">Locatiom: </label>
  <input type="text" id="location" name="location" required>

  <label for="email">Email :</label>
  <input type="email" id="email" name="email" required>

  <label for="age">Age: </label>
  <input type="number" id="age" name="age" min="18" max="100" required>

</form>